body{ 
    background-color: gainsboro;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{ 
    color:cornflowerblue;
    text-align: center;
}
h2{
    color: lightslategray;
    text-align: center;
}
h3{ 
    color: midnightblue;
    text-align: center;
}
img{ 
    padding: 10px;
}
p{ 
    text-align: center;
    font-size: 20px;
}
div{ 
    text-align: center;
}