body{ 
    background-image: url('background1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{ 
    color:white; 
    font-family:georgia; 
    font-size: 50px;
    text-align: left;
}
h2{ 
    color:azure;  
    font-family:georgia; 
    font-size: 30px;
    text-align: left;
}

h3{ 
    color:black;
    font-family: georgia;
    font-size: 20px;
    text-align: left;
    max-width: 50%;
}
p{ 
    color:cadetblue; 
    background-color:silver;
    font-weight: bold;
    font-family:georgia;
    font-size: 20px;
    text-align: left;
}
.whole { 
    max-width:50%; 
    background-color: silver;
}
.image { 
    max-width: 40%;
}
.text{ 
    max-width: 68%;
    background-color: silver;
    vertical-align:top; 
    padding: 15px;
}
.imgwidth { 
    max-width: 100%;
    padding:10px;
}
.inlineblock{ 
    display:inline-block;
}