body{ 
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1{ 
    color:saddlebrown; 
    font-family:Courier New; 
    font-size: 50px;
}
h3{ 
    color:chocolate; 
    font-family: courier;
    font-size: 20px;
}
p{ 
    color:darksalmon; 
    font-family:georgia;
    font-size: 20px;
    text-align: center;
}